[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libs/clopts"]
	path = libs/clopts
	url = https://github.com/Sirraide/clopts
[submodule "libs/tree-sitter-cpp"]
	path = libs/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
